.content{
    top: 50px;
}


.textPar{
    padding-left:3%;
    width:45%;
    font-size: 20px;
    height: 100%;
}
.textPar3{
    padding-left:3%;
    width:45%;
    font-size: 20px;
    height: 100%;
}

.textPar1{
    padding-left:3%;
    font-size: 40px;
    height: 100%;
}
.textPar4{
    padding-left:5%;
    width:100%;
    font-size: 20px;
    height: 100%;
}

.textPar2{
    padding-left:3%;
    font-size: 20px;
    height: 100%;
    background-color: black;
    border: 1px solid #006fca ;
}

section {
    display: block; 
    margin-bottom: 20px; 
}
.svgIcon1 {
   
    width: 50px; 
    height: 50px; 
    background-color: transparent; 
    margin-bottom: 8px;
    transition: filter 0.3s ease;
    
}
.svgIcon1:hover {
    filter: brightness(0.7); /* Ztmaví ikonu o 30% */
}
.iconContainer {
    display: flex;
    flex-direction: column;

}
.iconWithText svg {
    margin-right: 25px; 
}
.iconWithText {
    display: flex;
    align-items: center;
    font-size: 30px;
}
#profilePicture{
    min-width: 35%;
    height: 65%;
    position: absolute;
    top:10%;
    right:5%;
    border: 3px solid #006fca; 
    border-radius: 100%; 
}
#profilePicture:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;

}

.gallery a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
 
 
@media only screen and (min-width: 950px) and (max-width: 1200px) {
   
    #profilePicture {
        min-width: 30%;
        height: 60%;
    }
     
}

@media only screen and (min-width: 600px) and (max-width: 950px) {
   
    #profilePicture {
        min-width: 20%;
        height: 40%;
    }
 
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
   
    #profilePicture {
        margin-top: 60px;
        min-width: 15%;
        height: 25%;
        display: flex;
        left: 50%; /* Zarovnajte na stred zľava */
        transform: translate(-50%); /* Presuňte na stred */
       
    }
    #profilePicture:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease;
    
    }  

.textPar{
  margin-top: 210px;
  width: 80%;
  padding-left: 10%;
  text-align: center;
  font-size: medium;

}
.textPar4{
  width: 100%;
  text-align: center;
  font-size: small;
}

.lastChange{
    margin-top: 20px;
}

.iconWithText {
    display: flex;
    align-items: center;
    font-size: 15px;
}


.textParMyProjects{
    font-size: small !important;
} 



}

.gallerySize{
    margin-bottom: 1%;
    width: 18%;
    height: 18%;
    padding-left: 1%;
}
.gallerySize1{
    margin-bottom: 1%;
    width: 18%;
    height: 18%;
    padding-left: 1%;
}
.gallery{
    margin-left: 2%;
}

.textParMyProjects{
    padding-left:3%;
    width:97%;
    font-size: 20px;
    height: 100%;
}

.textParMyContacts{
    padding-left:3%;
    width:97%;
    font-size: 20px;
    height: 100%;
}

#aboutMeText{
    background-color: black;
    border-top: 1px solid #000000 ;
    border-bottom: 1px solid #006fca ;
}
