body{
  
    font-family: "League Spartan", sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}


.heading{
    color:   #ffffff;
    font-weight: 900;
    font-size: 50px;
  
}

.heading1{
    color:   #ffffff;
    font-weight: 900;
    font-size: 80px;
}
.heading2{
    color:   #ffffff;
    font-weight: 900;
    font-size: 100px;
}
.headingText{
    position: absolute;
    left: 3%;
    top: 10%;
    max-width: 60%;
  
}


.blueText{
    color: #006fca;
    text-shadow: 2px 2px #ffffff;
    
}
.navbar {
    background-color: #000000; 
    color: #ffffff; 
    height: 50px;
    top: 0;
    font-size: 25px;
    position: fixed;
    width: 100%;
    z-index: 1;
}


.navbar-divider {
    border-bottom: 1px solid #006fca; 
  width: 100%; 
  animation: slideInDivider 2s forwards;
    
}

.leftPosition{
    position: fixed;
    right: 5%;
    top: 2%;

}
.hoverChange:hover {
    color: #006fca;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    display: inline-block;
 }

 #animation{
  width: 900px;
  height: 700px;
  position: absolute;
  right: 0%;
   top:  0%;
 }
 .animations {
    overflow: hidden;
  }
  
.buttonStyle{
  display: block;
  width: 150px;
  margin-bottom: 1%;
  margin-left: 3%;
   height: 30px;
   font-family: "League Spartan", sans-serif;
   font-size: large;
   font-weight: 700;
   border-color: #006fca;
   color: #ffffff;
   background-color: #006fca;
   border-radius: 5px 5px 5px 5px;

}
.buttonStyle1{
  display: block;
  width: 150px;
  margin-bottom: 1%;
  margin-left: 3%;
   height: 30px;
   font-family: "League Spartan", sans-serif;
   font-size: large;
   font-weight: 700;
   border-color: #006fca;
   color: #ffffff;
   background-color: #006fca;
   border-radius: 5px 5px 5px 5px;

}

.buttonStyle2{
  display: block;
  width: 150px;
  margin-bottom: 1%;
  margin-left: 3%;
   height: 30px;
   font-family: "League Spartan", sans-serif;
   font-size: large;
   font-weight: 700;
   border-color: #006fca;
   color: #ffffff;
   background-color: #006fca;
   border-radius: 5px 5px 5px 5px;

}




.buttonStyle:hover{

  background-color: #00186e;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  display: inline-block;
  
}

@media only screen and (min-width: 1px) and (max-width: 450px) {
  /* Vaše štýly pre rozsah od 1px do 449px */
  .heading1 {
      font-size: 35px;
    }
    .heading {
        font-size: 20px;
      }
      #animation {
        top:40%;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        height: 350px;
      }
      .footer{
          font-size: 8px;
      }
      .navbar{
          font-size: 15px;
      }
      .headingText{
        position: absolute;
        left: 13%;
        top: 15%;
        max-width: 100%;
    }
    .anchorSize{
      font-size: 10px;
     
    }
    .iconCont{
      
      text-align: center;

    }

    .fixed-background{
      background-image: none;
      background-color: #000000;

    }
    .inputStyles{
      width: 240px !important;
    }

    .buttonStyle{
      font-size: x-small;
      width: 100px;
      height: 20px;
      margin-left: 23% ;
      
    }
    .buttonStyle1{
      font-size: x-small;
      width: 100px;
      height: 20px;
      margin-left: 10% ;
    }


    .gallerySize{
      margin-left: 4% !important;
    
      margin-bottom: 1%;
      width: 25% !important;
      height: 25% !important;
      
  }  
  .textPar1{
    font-size: 25px !important;
    text-align: center;
  }
  
.galleryH{
  font-size: small !important;
  text-align: center;
}
#textMyProjects{
  font-size: 20px !important;
}
#contactsHeading{
  text-align: center;
}
#contactsText{
  padding-left: 3%;
  text-align: center;
 
}

.inputStyles{
  margin-left: auto !important;
  margin-right: auto;

}
.buttonStyle2 {
  font-size: x-small;
  width: 100px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.iconWithText{
  margin-left: auto;
  margin-right: auto;
}

.gallerySize1{
  width: 25% !important;
      height: 25% !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
}
.download-link{
  margin-left: 36%;
}
  
}


  @media only screen and (min-width:450px) and (max-width:740px) {
  
    .heading1 {
      font-size: 45px;
    }
    .heading {
        font-size: 30px;
      }
      #animation {
        top:40%;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 400px;
      }
      body{
        background-size: 100% 100%;
      }
      .buttonStyle{
        font-size: small;
        width: 100px;
        
      }
    
  }
  
  @media only screen and (min-width:740px) and (max-width: 950px){
    .headingText{
        max-width: 400px;
    }
    .heading1 {
        font-size: 60px;
      }
      .heading {
        font-size: 40px;
      }
      #animation {
        right: 0%;
        top:  5%;
        width: 450px;
        height: 450px;
    }
    body{
      background-size: 100% 100%;
    }


   
  }
  
 
  @media only screen and (min-width: 950px) and (max-width: 1200px) {
   
    #animation {
        right: 0%;
        top:  5%;
        width: 550px;
        height: 550px;
    }
    body{
      background-size: 100% 100%;
    }

}

  
  
  .animated-text-fast {
    position: relative;
    left: -100%; 
    animation: slideIn 1.5s forwards; 
  }
  .animated-text-medium{
    position: relative;
    left: -100%; 
    animation: slideIn 2s forwards; 
  }
  .animated-text-slow {
    position: relative;
    left: -100%; 
    animation: slideIn 3s forwards; 
  }
  
  @keyframes slideIn {
    to {
      left: 0; 
    }
  }
  @keyframes slideInDivider {
    from {
      width: 0; 
    }
    to {
      width: 100%; 
    }
  }

  .footer{
    color:#F9F7F7;
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 49px ;
    background: #000000;
    font-size: 15px;
    
    
  }
  
  .svgIcon {
    fill: rgb(221, 221, 224); 
    color: #ffffff;
    width: 20px; 
    height: 20px; 

}

.topDivider{
    position:fixed;
    top: 50px;
    width: 100%;
}
.downDivider{
    position:fixed;
    bottom: 69px;
    width: 100%;
}
.main-content {
    position: relative;
  overflow: hidden;
  }
  #animationCircle{
    position:fixed;
    width: 50px;
    height: 50px;
    top: 5px;
  
  }
  

  #animationCircle:hover{
    transform: scale(1.4);
    transition: transform 0.3s ease;
    cursor: pointer;


  }

  @keyframes slideRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(1000%);
    }
}

.slideRightAnimation {
    animation: slideRight 1s forwards;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
    .bounceAnimation{
        animation: bounce 1.5s infinite; 
    }

    #languageDropdown{
      background-color: #000000;
      color: #ffffff;
      font-family: "League Spartan", sans-serif;
      border-color: #000000;
    }

    .anchorSize{
      font-size: 15px;
    }


    
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s;
}
.loading-icon {
  width: 50px;
  height: 50px;
  border: 5px solid #006fca;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
.loading-iconSmall{
  width: 25px;
  height: 25px;
  border: 5px solid #006fca;
  position: absolute;
   top: 10px; 
   left: 8px; 
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}


.inputStyles{
  width: 300px;
 margin-bottom: 1%;
  height: 25px;
  margin-left: 3%;
  border-color: #006fca;
  border-radius: 5px 5px 5px 5px;
  display: block;
}

a {
  text-decoration: none;
  color: #006fca;
}
.contactText{
  height: 90px;
}
#contactsText{
  padding-left: 3%;
}

.descBackground{
  background-color: #000000;
}
#closeButton{
  color: #ffffff; 
  background-color: #000000; 
  border: none;
  font-weight: 700;
  cursor: pointer; 
}

.buttonContainer{
  display: flex;

}

