body{
  
    font-family: "League Spartan", sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}


.heading{
    color:   #ffffff;
    font-weight: 700;
    font-size: 50px;
  
}
.heading0{
  color:   #ffffff;
  font-weight: 300;
  font-size: 50px;
  margin-top: 15%;
  


}
.heading4{
  color:   #ffffff;
  font-weight: 300;
  font-size: 30px;
  max-width: 70%;

}


.heading1{
    color:   #ffffff;
    font-weight: 800;
    font-size: 110px;
    margin-bottom: 0;
   
}
.heading2{
    color:   #ffffff;
    font-weight: 900;
    font-size: 100px;
}
.headingText{
    position: absolute;
    left: 4%;
    
    max-width: 60%;
  
}


.blueText{
  color: transparent;
  -webkit-text-stroke: 0.8px #006fca; /* Šírka okraja a farba */
  background-image: linear-gradient(to right, #ffffff, #ffffff); 
  -webkit-background-clip: text;
  background-clip: text;
    
 
}
.navbar {
    background-color: #000000; 
    color: #ffffff; 
    height: 50px;
    top: 0;
    font-size: 25px;
    display: flex;
    align-items: center;
   
    position: fixed;
    
    width: 100%;
    z-index: 1;
}


.navbar-divider {
    border-bottom: 1px solid #006fca; 
   
  width: 100%; 
  animation: slideInDivider 2s forwards;
    
}

.leftPosition{
    position: fixed;
    right: 3%;


}
.hoverChange:hover {
    color: #006fca;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    display: inline-block;
 }

 #animation{
  width: 900px;
  height: 700px;
  position: absolute;
  margin-left: 45%;

 }
 .animations {
    overflow: hidden;
  }
  
.buttonStyle{
  display: block;
  margin-bottom: 1%;
  margin-left: 3%;
   height: 30px;
   color: #006fca; /* farba textu */
   font-family: "League Spartan", sans-serif;
   font-size: large;
   font-weight: 700;
   cursor: pointer;
   background: none;
   border: none;

}
.buttonStyle1{
  display: block;
   padding-left: 3px;
   height: 30px;
   color: #006fca; 
   font-family: "League Spartan", sans-serif;
   font-size: large;
   font-weight: 700;
   cursor: pointer;
   background: none;
   border: none;
 }
  


.buttonStyle2{
  display: block;
  width: 150px;
  margin: 5px 0px;
  
   height: 30px;
   color: #ffffff;
   font-family: "League Spartan", sans-serif;
   font-size: large;
   font-weight: 700;
   cursor: pointer;
   background: #006fca;
   border-radius: 5px;
   border:none;
   box-shadow: 0px 0px 5px 0px #006fca;

}
.buttonStyle2:hover {
  background: #00186e;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;

}


.buttonStyle:hover,
.buttonStyle1:hover{
 
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  display: inline-block;
}

@media only screen and (max-width: 290px) {
  /* Štýly len pre animáciu pre rozsah do 290px */
  #animation {
    position: fixed;
   bottom: 0;
    left: 50%;
    margin-left: 0%;
    transform: translateX(-50%);
    width: 320px;
    height: 320px;
  }
}

@media only screen  and (max-width: 450px) {
  .mailSpan{
    font-size: 18px !important;
  }
  
  .gallery1{
    text-align:  center;
    margin-left: 0 !important;
  }

  :root {
    --icon-container-width: 70% !important; 
  }
  
  .anchorSize {
    font-size: 15px !important;
}
  #contactsHeading1Div{
    text-align: center;
  }
  .gallerySize {
    width: 25% !important;
    height: 25% !important;
   
}
#certDiv{
    text-align:  center !important;

}


  #contactsHeading1{
    margin-top: 0%;
   margin-bottom: 10% !important;
  }
 
  .iconContainer1{
    height: 20% !important;
    padding: 20px 20px !important;
  
  }
  .iconCont{
    padding: 10px 20px !important;
  }



  #textArea{
    height: 80px !important;
    }
  
  
  .headingText{
    top: 7% !important;
      max-width: 100%;
     margin-left: 12%;
    margin-right: 5%;
     margin-bottom: 0;
    
  }
  .heading1 {
   margin-top: 10% !important;
    font-size: 55px;
  }
  
  .heading0{
    top: 5% !important;
    font-size:20px ;
   
  }

  .heading4{
    font-size: 15px;
  }
  #animation {
    top: 45%;
    left: 50%;
    margin-left: 0%;
    transform: translateX(-50%);
    width: 320px;
    height: 320px;
    
  }
    .heading {
        font-size: 20px;
      }
      
      .footer{
          font-size: 8px;
      }
      .navbar{
          font-size: 15px;
      }
     
   
    .iconsDiv{
      column-gap: 10% !important;
  
    }

    .fixed-background{
      background-image: none;
      background-color: #000000;

    }
    

    
    .buttonContainer {
  
      flex-direction: row; 
    justify-content: center;
   
    align-items: center;
    margin-top: 10%;
   
  }
  #galleryRotator{
    margin-top: 5%;
    top: 10%;
    align-items: center;
    justify-content: center;
  }
  
  .buttonStyle1:hover,.buttonStyle:hover{
    color: #006fca; 
  }
 
  .buttonStyle{
    margin: 5px 0;
      color: #ffffff;
      opacity: 50%;
    
  }
    .secondElement{
      height: auto !important;
      width: 95% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    
    }
    .firstElement,
    .thirdElement{
      display: none;
      
    }
    
    
   
    #insuranceSection{
  
      margin-bottom: 250px !important;
    }
    #textEditorSection{
      margin-bottom: 250px !important;
    }
    #learningProgressTrackerSection{
      margin-bottom: 250px !important;
    }
    #qrCodeApiSection{
      margin-bottom: 250px !important;
    }
    #contactsManager{
      margin-bottom: 250px !important;
    }
    #downArrow{
    
    top:75% !important;
  
    }

  

  .textPar1{
    font-size: 30px !important;
    text-align: center;
  }
  
.galleryH{
  font-size: 40 !important;
  text-align: center;
  margin-top: 25% !important;
  padding-left: 0 !important;


}

#textMyProjects{
  font-size: 15px !important;
  font-weight: 300;
  margin-bottom: 5%;
}
#contactsHeading{
  text-align: center;
}

.inputStyles{
  margin-left: auto !important;
  margin-right: auto;
  width: 250px !important;

}
.buttonStyle2 {
  font-size: medium;
  width: 110px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.iconWithText{
  margin-left: 10%;
  margin-right: auto;

}

.gallerySize1{
  width: 25% !important;
  height: 25% !important;

}

#downloadDiv{
  
  text-align: center;
  padding-left: 0;
}
.descBackground{
  display: flex;
  top: 35%;
  align-items: center;
  position: fixed;
  height:auto ;
  z-index: 999; 
}
  
}


  @media only screen and (min-width:450px) and (max-width:740px) {
    .textPar1{
      font-size: 30px !important;
    }
   
    .navbar{
      font-size: 20px;
    }

    .fixed-background{
      background-image: none;
      background-color: #000000;
  
    }
    #contactsHeading1{
      margin-top: 0%;
     margin-bottom: 10% !important;}
    
    
    .heading {
        font-size: 30px;
      }

      .headingText{
        margin-top: 3%;
       
          max-width: 100%;
      }
      .heading1 {
        font-size: 60px;
      }
      
      .heading0{
        font-size:30px ;
      }

      .heading4{
        font-size: 15px;
      }
      #animation {
        margin-top: 52% !important;
    
        left: 50%;
        margin-left: 0%;
        transform: translateX(-50%);
        width: 400px;
        height: 400px
        ;
      }
     
      .buttonStyle{
        font-size: small;
        width: 100px;
        
      }
      
      :root {
        --icon-container-width: 60% !important ; 
      }
      
    
  }
  
  @media only screen and (min-width:740px) and (max-width: 950px){
    .headingText{
      margin-top: 10%;
        max-width: 100%;
    }
    .heading1 {
        font-size: 60px;
      }
      .heading {
        font-size: 40px;
      }
      
    body{
      background-size: 100% 100%;
    }
    
    .heading0{
      font-size:30px ;
    }
    .heading4{
      font-size: 15px;
    }
    #animation {
      bottom:5%;
      left: 50%;
      margin-left: 0%;
      transform: translateX(-50%);
      width: 400px;
      height: 400px;
    }
   
    :root {
      --icon-container-width: 50% !important; 
    }
    

   
  }
  
 
  @media only screen and (min-width: 950px) and (max-width: 1200px) {
   
    #animation {
        right: 0%;
        top:  5%;
        width: 550px;
        height: 550px;
    }
  .heading1{
    font-size:80px ;
  }
  .heading0{
    font-size:35px ;
  }
  .heading4{
    font-size: 20px;
  }
  :root {
    --icon-container-width: 40%; 
  }
  

}

  
  
  .animated-text-fast {
    position: relative;
    left: -100%; 
    animation: slideIn 1.5s forwards; 
  }
  .animated-text-medium{
    position: relative;
    left: -100%; 
    animation: slideIn 2s forwards; 
  }
  .animated-text-slow {
    position: relative;
    left: -100%; 
    animation: slideIn 3s forwards; 
  }
  
  @keyframes slideIn {
    to {
      left: 0; 
    }
  }
  @keyframes slideInDivider {
    from {
      width: 0; 
    }
    to {
      width: 100%; 
    }
  }

  .footer{
    color:#F9F7F7;
    position: fixed;
    padding-top: 20px;
    
    bottom: 0;
    width: 100%;

    text-align: center;
    align-items: center;
    height: 49px ;
    background: #000000;
    font-size: 15px;
    
    
  }
  
  .svgIcon {
    fill: rgb(221, 221, 224); 
    color: #ffffff;
    width: 20px; 
    height: 20px; 

}

.topDivider{
    position:fixed;
    top: 50px;
    width: 100%;
}
.downDivider{
    position:fixed;
    bottom: 69px;
    width: 100%;
}
.main-content {
    position: relative;
  overflow: hidden;
  }
  #animationCircle{
    position:fixed;
    width: 50px;
    height: 50px;
  
  }
  

  #animationCircle:hover{
    transform: scale(1.4);
    transition: transform 0.3s ease;
    cursor: pointer;


  }

  @keyframes slideRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(1000%);
    }
}

.slideRightAnimation {
    animation: slideRight 1s forwards;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
    .bounceAnimation{
        animation: bounce 1.5s infinite; 
    }

    #languageDropdown{
      background-color: #000000;
      color: #ffffff;
      font-family: "League Spartan", sans-serif;
      border-color: #000000;
    }

    .anchorSize{
      font-size: 18px;
      color: #ffffff;
      font-weight: 400;
      padding-bottom: 10px;
  
      
    }


    
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s;
}
.loading-icon {
  width: 50px;
  height: 50px;
  border: 5px solid #006fca;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
.loading-iconSmall{
  width: 25px;
  height: 25px;
  border: 5px solid #006fca;
  position: absolute;
   top: 10px; 
   left: 8px; 
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}


.inputStyles{
  background-color: #b9c6d3;
  width: 100%;
 margin-bottom: 1%;
  height: 25px;
  color: #000000;
  
  box-shadow: 0px 0px 5px 0px #006fca;
  padding: 2px 4px;
  border:none;
  border-radius: 5px;
  display: block;
}

a {
  text-decoration: none;
  color: #006fca;
}
.contactText{
  height: 90px;
}
#contactsText{
  padding-left: 3%;
  font-size: 20px;
  font-weight: 200;
}

.descBackground{
  background-color: #000000;
  display: flex;
  top: 35%;
  align-items: center;
  position: fixed;
  height: auto;
  z-index: 999;

}
.closeButton{
  color: #ffffff; 
  background-color: #000000; 
  border: none;
  font-weight: 700;
  cursor: pointer; 
}
 .arrows{
  font-size: 30px;
  opacity: 65%;
 }
 .arrows:hover{
  opacity: 100%;
  cursor: pointer;
 }

 #downArrow, #downArrow1, #downArrow2{
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px #006fca;
 }

.buttonContainer{
  display: flex;
  margin-left: 3%;
}




.firstElement{

    margin-bottom: 3%;
    width: 27.5%;
    height: auto;
    box-shadow: 0px 0px 5px 0px #006fca;
    
}
.thirdElement{
  margin-left: 1%;
  margin-bottom: 3%;
  width: 27.5%;
  height: auto;
  box-shadow: 0px 0px 5px 0px #006fca;
  
}
.secondElement{
  
  margin-left: 1%;
  margin-bottom: 1%;
  width: 37.5%;
  height: auto;
  
  box-shadow: 0px 0px 5px 0px #006fca;
  
 
}



.none{
  display: none;
}

.iconContainer1{
  opacity: 0.7;
 margin-left: 3%;
 margin-bottom: 3%;
  margin-top: 0;
  

 padding: 20px 40px ;
 width: var(--icon-container-width);

  background-color: #000000;
  border-radius: 5px;

  
  box-shadow: #006fca 0 0   5px 5px;

}
.iconContainer1:hover{
  opacity: 1;
}

#textArea{
height: 130px;
}
#contactsHeading1{
  margin-top: 0%;
 margin-bottom: 5%;
 font-weight: 600;
}





.descriptionButton:hover::after{
  font-size: 15px;
  width: 100%;
  content: "Description";
  position: absolute;
  top: 65px;
  left: 1%;
  color: white;
  padding: 5px;
  white-space: nowrap;

}
.repositoryButton:hover::after{
  font-size: 15px;
  width: 100%;
  content: "Repository";
  position: absolute;
  margin-top: 65px; 
  left: 1%;
  color: white;
  padding: 5px; 
  

}

.websiteButton:hover::after{
  font-size: 15px;
  width: 100%;
  content: "Website";
  position: absolute;
  top: 65px;
  left: 0 !important;
  color: white;
  padding-top: 5px;


}

.descriptionButtonSk:hover::after{
  font-size: 15px;
  width: 100%;
  content: "Popis" !important;
  position: absolute;
  top: 65px; 
  right: 5px !important;
  color: white;
  padding: 5px;
  white-space: nowrap;

}
.repositoryButtonSk:hover::after{
  font-size: 15px;
  width: 100%;
  content: "Repozitár";
  position: absolute;
  top: 65px;
  left: 0px;
  color: white;
  padding: 5px; 
  

}

.websiteButtonSk:hover::after{
  font-size: 15px;
  width: 100%;
  content: "Webstránka";
  position: absolute;
  top: 65px;
  left: 5px;
  color: white;
  padding-top: 5px;


}

.websiteButton, .repositoryButton{
  margin-left: 1%;
}
.websiteButtonSk, .repositoryButtonSk{
  margin-left: 1%;
}


.website,.desc, .repository{
  font-size: 50px !important;
  background-color: #000000 !important;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 3px 0px #006fca;
}

#galleryRotator{
  justify-content: center;
  align-items: center;
}

.galleryH{
  padding-left: 3%;
  margin-top: 5%;
  font-weight: 500;
}

.technologies{
font-weight: 500;
}
.usedTechnologies{
color: #006fca;
font-weight: 900;
}

.darken {
  opacity: 0.5;
}
.lighter{
  opacity: 1 !important;
  filter: brightness(1) !important;
}

:root {
  --icon-container-width: 30%; /* Štýly len pre animáciu pre rozsah do 290px */
}

.iconCont{
  opacity: 0.7;

  margin-left: 3%;
  margin-bottom: 10px;
  border-radius: 5px;
  border-top: solid 1px#006fca;
  border-left: solid 1px #006fca;
  box-shadow: #006fca 0 0 5px 5px;
  width: var(--icon-container-width);
  padding: 20px 40px;
  background-color: #000000;

}
.iconCont:hover{
  opacity: 1;
}
.mailSpan{
  vertical-align: middle; 
  margin-right: 5%;
  font-size: 20px;
  padding: 5px;
}
.phoneSpan{
  vertical-align: middle; 
  font-size: 20px;
  padding: 5px;
  
}

#downArrow{
  transition: transform 0.5s ease;
}
#downArrow:hover{
  transform: translateY(10px);
}


